<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About the Book Club</h2>
                </div>
                <div class="col-sm-6 text-center">
                    <p>Inspired by the <a href="https://collectivecouragebookclub.wordpress.com/">Fall 2018 Collective Courage Online Book Club</a>, this book club will support connection and reflection among anyone who wants to read or re-read Pedagogy of the Oppressed by Paolo Freire.</p>
                    
                </div>
                  <div class="col-sm-6 text-center">
                    
                    <p>The group will meet for an hour, once a week, for four consecutive weeks during the Summer of 2018. Exact schedule is TBD, but if you'd like be notified when dates are chosen, submit your contact info below.</p>
                </div>
            </div>
            
        </div>
    </section>